/*import { defineConfig } from 'vite';
import path from 'path';
import react from '@vitejs/plugin-react';

// Export the Vite configuration
export default defineConfig({
    plugins: [react()],
    server: {
        port: 3000, // or any other available port
      },
    publicDir: 'public', // Specify the directory where static assets are
    root: path.resolve(__dirname), // Ensure Vite considers the root directory properly
    build: {
    outDir: path.resolve(__dirname, 'dist'), // Set output directory for the build
  },

  resolve: {
    alias: {
      '@': path.resolve(__dirname, 'src'), // Allows imports like '@/some/path'
    },
  },

  // Add base option to handle paths correctly for production
  base: './', // Ensures assets are referenced correctly in production
});
*/